<div class="container" style="padding: 20px 0">
<div class="photos" itemscope itemtype="http://schema.org/ImageGallery">

      {{#each photos}}
        <figure class="photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{image}}" itemprop="contentUrl" data-size="{{width}}x{{height}}">
                <img src="{{thumbnail}}" itemprop="thumbnail" alt="" />
            </a>
            <figcaption itemprop="caption description">{{caption}}</figcaption>
        </figure>
    {{/each}}
</div>
</div>
